# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/vnyn1ho07dm9/backend"
PassengerBaseURI "/"
PassengerPython "/home/vnyn1ho07dm9/virtualenv/backend/3.6/bin/python3.6"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
