<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Prakriti | Contacts</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="PRAKRITI, IIT, Kharagpur" name="keywords">
  <meta name="author" content="Supratim 16AG30027">
  <meta content="PRAKRITI" name="description">
  <meta http-equiv="content-language" content="en-us">

  <!-- Favicons -->
  <link href="img/favicon.ico" rel="icon">


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="css/nivo-slider-theme.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">


  <!-- Responsive Stylesheet File -->
  <link href="css/responsive.css" rel="stylesheet">






</head>
<header>
  <!-- header-area start -->
  <div id="sticker" class="header-area" style="background-color:#0D0D0D">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">

          <!-- Navigation -->
          <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">



              <!-- Brand -->
              <a class="navbar-brand page-scroll sticky-logo" href="index.html">

                <!-- Uncomment below if you prefer to use an image logo -->
                <img id="logo_img" src="img/final1.jpg" alt="The Project"
                  style="height: 40px; width: 200px; padding-left: 15px; ">

              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-2" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li class="active">
                  <a href="contacts.html">Team</a>
                </li>
                <li>
                  <a class="page-scroll" href="/#about">About</a>
                </li>
                <li>
                  <a class="page-scroll" href="/#services">Events</a>
                </li>
                <li>
                  <a href="sponsors.html">Sponsors</a>
                </li>
                <li>
                  <a href="registration.html">Registration</a>
                </li>

              </ul>
            </div>
            <!-- navbar-collapse -->
          </nav>
          <!-- END: Navigation -->
        </div>
      </div>
    </div>
  </div>
  <!-- header-area end -->
</header>
<!-- header end -->



<br>



<!-- Start Professors Area -->
<div id="team" class="our-team-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2>Professors</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="team-top">
        <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-3 col-xs-6 col-xs-offset-3">

          <div class="single-team-member">
            <div class="team-img">

              <img src="img/hod.jpg" alt="" style="height: 350px; width: 380px;">


            </div>
            <div class="team-content text-center">
              <h5>Nirupama Mallick</h5>
              <p>Head Of Department</p>

            </div>
          </div>
        </div>



      </div>
    </div>
    <br>

    <div class="row">
      <div class="team-top">
        <div class="col-md-3 col-sm-offset-3 col-sm-3 col-sm-offset-3 col-xs-6">
          <div class="single-team-member">
            <div class="team-img">

              <img src="img/Jayeeta Ma'am.png" alt="" style="height: 270px; width: 262px;">


            </div>
            <div class="team-content text-center">
              <h4>Jayeeta Mitra</h4>
              <p>Chairperson</p>

            </div>
          </div>
        </div>

        <div class="col-sm-3 col-xs-6">
          <div class="single-team-member">
            <div class="team-img">

              <img src="img/Rajendra Machavaram sir.jpg" alt="" style="height: 270px; width: 262px;">


            </div>
            <div class="team-content text-center">
              <h4>Rajendra Machavaram</h4>
              <p>Co-Chairperson</p>

            </div>
          </div>
        </div>
        <!-- End column -->



      </div>
    </div>







    <!-- Start team Area -->
    <div id="team" class="our-team-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Heads</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="team-top">
            <div class=" col-sm-offset-3 col-sm-3 col-sm-offset-3 col-xs-6">
              <div class="single-team-member">
                <div class="team-img">
                  <a href="#">

                    <img src="img/Vipul.jpg" alt="" style="height: 270px; width: 262px;">
                  </a>
                  <div class="team-social-icon text-center">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/007.vipul" target="_blank">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h4>Vipul Banjarey</h4>
                  <p>President</p>
                  <p class="fa fa-phone"> (+91) 7479370099 </p>

                </div>
              </div>
            </div>
            <!-- End column -->
            <div class="col-sm-3 col-xs-6">
              <div class="single-team-member">
                <div class="team-img">
                  <a href="#">
                    <img src="img/sha.png" alt="" style="height: 270px; width: 262px;">
                  </a>
                  <div class="team-social-icon text-center">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/ShashiKiller" target="_blank">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h4>Shashi Prakash</h4>
                  <p>Co-ordinator</p>
                  <p class="fa fa-phone"> (+91) 9734569333</p>

                </div>
              </div>
            </div>
            <!-- End column -->


          </div>
        </div>

        <br>

        <div class="row">
          <div class="team-top">
            <div class="col-md-3 col-sm-offset-3 col-sm-3 col-sm-offset-3 col-xs-6">
              <div class="single-team-member">
                <div class="team-img">
                  <a href="#">

                    <img src="img/Narpat1.jpeg" alt="" style="height: 285px; width: 262px;">
                  </a>
                  <div class="team-social-icon text-center">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/ajoonp.kalwaniyan" target="_blank">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h4>Narpat Ram Kalwaniyan</h4>
                  <p>General Secretary</p>
                  <p class="fa fa-phone"> (+91) 9694533544</p>

                </div>
              </div>
            </div>
            <!-- End column -->
            <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="single-team-member">
                <div class="team-img">
                  <a href="#">

                    <img src="img/Amit.jpg" alt="" style="height: 285px; width: 262px;">
                  </a>
                  <div class="team-social-icon text-center">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/amitkumar.jha.92505956" target="_blank">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h4>Amit Kumar Jha</h4>
                  <p>Convener</p>
                  <p class="fa fa-phone"> (+91) 9304037602</p>

                </div>
              </div>
            </div>
            <!-- End column -->


          </div>
        </div>

        <br>

        <div class="row">
          <div class="team-top">
            <div class="col-md-3 col-sm-offset-3 col-sm-3 col-sm-offset-3 col-xs-6">
              <div class="single-team-member">
                <div class="team-img">
                  <a href="#">

                    <img src="img/Srushti.jpeg" alt="" style="height: 240px; width: 262px;">
                  </a>
                  <div class="team-social-icon text-center">
                    <ul>
                      <li>
                        <a href=https://www.facebook.com/srushti.thorat.5209 target="_blank">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h4>Srushti Thorat</h4>
                  <p>Sponsorship Head</p>
                  <p class="fa fa-phone"> (+91) 9593820220</p>

                </div>
              </div>
            </div>
            <!-- End column -->
            <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="single-team-member">
                <div class="team-img">
                  <a href="#">

                    <img src="img/Nishanandan.jpeg" alt="" style="height: 240px; width: 262px;">
                  </a>
                  <div class="team-social-icon text-center">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/nichu.chat" target="_blank">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h4>Nishanandhan Sakthivel</h4>
                  <p>Sponsorship Head</p>
                  <p class="fa fa-phone"> (+91) 9080575743</p>

                </div>
              </div>
            </div>
            <!-- End column -->


          </div>
        </div>

        <br>

        <div class="row">
          <div class="team-top">
            <div class="col-md-3 col-sm-offset-3 col-sm-3 col-sm-offset-3 col-xs-6">
              <div class="single-team-member">
                <div class="team-img">
                  <a href="#">

                    <img src="img/Ateet.jpg" alt="" style="height: 220px; width: 262px;">
                  </a>
                  <div class="team-social-icon text-center">
                    <ul>
                      <li>
                        <a href=https://www.facebook.com/ateet.khandelwal target="_blank">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h4>Ateet Khandelwal</h4>
                  <p>Events Head</p>
                  <p class="fa fa-phone"> (+91) 8436948901</p>

                </div>
              </div>
            </div>
            <!-- End column -->
            <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="single-team-member">
                <div class="team-img">
                  <a href="#">

                    <img src="img/Kritika.jpeg" alt="" style="height: 220px; width: 262px;">
                  </a>
                  <div class="team-social-icon text-center">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/kritika.bilotia.7" target="_blank">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h4>Kritika Bilotia</h4>
                  <p>Events Head</p>
                  <p class="fa fa-phone"> (+91) 96800606406</p>

                </div>
              </div>
            </div>
            <!-- End column -->


          </div>
        </div>

        <br>

        <div class="row">
          <div class="team-top">
            <div class="col-md-3 col-sm-offset-3 col-sm-3 col-sm-offset-3 col-xs-6">
              <div class="single-team-member">
                <div class="team-img">
                  <a href="#">

                    <img src="img/Subash.jpeg" alt="" style="height: 250px; width: 262px;">
                  </a>
                  <div class="team-social-icon text-center">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/profile.php?id=100008984739412" target="_blank">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h4>Subhash Bayal</h4>
                  <p>Treasurer</p>
                  <p class="fa fa-phone"> (+91) 8001071967</p>

                </div>
              </div>
            </div>
            <!-- End column -->
            <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="single-team-member">
                <div class="team-img">
                  <a href="#">


                    <img src="img/Abhijeet.jpg" alt="" style="height: 250px; width: 262px;">
                  </a>
                  <div class="team-social-icon text-center">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/abhijeet.mahato.iitkgp" target="_blank">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h4>Abhijeet Mahato</h4>
                  <p>Design Head</p>
                  <p class="fa fa-phone"> (+91) 8942052094</p>

                </div>
              </div>
            </div>
            <!-- End column -->

            <br>

            <div class="row">
              <div class="team-top">
                <div class="col-md-3 col-sm-offset-3 col-sm-3 col-sm-offset-3 col-xs-6">
                  <div class="single-team-member">
                    <div class="team-img">
                      <a href="#">

                        <img src="img/Subodh.jpeg" alt="" style="height: 250px; width: 262px;">
                      </a>
                      <div class="team-social-icon text-center">
                        <ul>
                          <li>
                            <a href="https://www.facebook.com/profile.php?id=100018318902437" target="_blank">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>

                        </ul>
                      </div>
                    </div>
                    <div class="team-content text-center">
                      <h4>Subodh Raut</h4>
                      <p>Logistics Head</p>
                      <p class="fa fa-phone"> (+91) 9834258388</p>

                    </div>
                  </div>
                </div>
                <!-- End column -->
                <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="single-team-member">
                    <div class="team-img">
                      <a href="#">

                        <img src="img/Anjali.jpeg" alt="" style="height: 250px; width: 262px;">
                      </a>
                      <div class="team-social-icon text-center">
                        <ul>
                          <li>
                            <a href="" target="_blank">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>

                        </ul>
                      </div>
                    </div>
                    <div class="team-content text-center">
                      <h4>Anjali Kumari</h4>
                      <p>Logistics Head</p>
                      <p class="fa fa-phone"> (+91) 7384455424</p>

                    </div>
                  </div>
                </div>


              </div>
            </div>



          </div>
        </div>
        <!-- End Team Area -->

        <!-- Start Advisors Area -->


        <!-- End column -->


      </div>
    </div>