

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Prakriti | Registration</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="PRAKRITI, IIT, Kharagpur" name="keywords">
  <meta name="author" content="Supratim 16AG30027">
  <meta content="PRAKRITI" name="description">
  <meta http-equiv="content-language" content="en-us">

  <!-- Favicons -->
  <link href="img/favicon.ico" rel="icon">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="css/nivo-slider-theme.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="css/responsive.css" rel="stylesheet">

  <!-- Font Icon -->
  <link rel="stylesheet" href="reg/fonts/material-icon/css/material-design-iconic-font.min.css">

  <!-- Main css -->
  <link rel="stylesheet" href="reg/css/style.css">
  <!--registration script-->
  <script src="reg/vendor/jquery/jquery.min.js"></script>
  <script src="reg/js/registration.js"></script>
  
  <style>
      #submit:hover
      {opacity: 0.5;}
  </style>



</head>
<!--end of head -->
<header>
    <!-- header-area start -->
    <div id="sticker" class="header-area" style="background-color:#0D0D0D">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">



                <!-- Brand -->
                <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                  <img id="logo_img" src="img/final1.jpg" alt="The Project" style="height: 50px; width: 180px; padding-left: 15px;">
                  <!-- Uncomment below if you prefer to use an image logo -->

								</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="index.html">Home</a>
                  </li>
                  <li>
                    <a href="contacts.html">Team</a>
                  </li>
                  <li>
                    <a href="sponsors.html">Sponsors</a>
                  </li>
                  <li  class="active">
                    <a href="registration.html">Registration</a>
                  </li>
                </ul>
              </div>
              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
</header>
<!-- header end -->



    <div class="main">
    <div class="content">
        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <ul class="list" style="text-align:center">
                        
                        <li><i class="icon-check-1"></i><h5> It is recommended to all the participants to go through this document before proceeding for the registration process.</h5></li>
                    </ul>
                    
                    <ul class="list" style="text-align:center">
                        <li><i class="icon-check-1"><h5> <strong><a href="documents/Registration Guide Manual.pdf" target = "_blank"> Registration Guide Manual.pdf (must read)</a></strong></h5></li>
                    </ul>
                    <br>
                    <br>
                    <form id="signup-form" name="signup-form"  class="signup-form">
                        
                        <h2 class="form-title"><a href ="https://erp.iitkgp.ac.in/CEP/secure/courses.htm" target = "_blank"  >Click here to register for Prakriti 2020</a></h2>
                        
                    </form>
                    
                     <strong>Note</strong> : Participants are requested to :
                     <br>
                                            <br>1) Keep a soft copy of the Application and the Payment slip generated from the registration portal.
                                            <br>2) Remember the registration ID.<br> It will be required for verification of the participant before appearing for any of the online events.
                    
                </div>
            </div>
        </section>
    </div>
    </div>

    <!-- JS -->
    <script src="reg/vendor/jquery/jquery.min.js"></script>
    <script src="reg/js/main.js"></script>
</body>
</html>

