<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Prakriti | Sponsors</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="PRAKRITI, IIT, Kharagpur" name="keywords">
  <meta name="author" content="Supratim 16AG30027">
  <meta content="PRAKRITI" name="description">
  <meta http-equiv="content-language" content="en-us">

  <!-- Favicons -->
  <link href="img/favicon.ico" rel="icon">
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="css/nivo-slider-theme.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="css/responsive.css" rel="stylesheet">
  
  


    <style>
        

    .marginless {
      margin-bottom: 2px;
    }
    
  
    
    .col-sm-4,
    .col-sm-offset-1,
    .col-sm-offset-2,
    .col-sm-offset-4 {
      padding: 0px 7.5px 15px 7.5px;
    }
    
    .col-md-4,
    .col-md-offset-4 {
      padding-bottom: 30px;
    }
    
    .col-xs-12 {
      padding-bottom: 15px;
    }
    
    h3 {
      text-align: center;
    }
    
    h4 {
      text-align: center;
      font-weight:bold;
      margin-top: 30px;
    }
.img-responsive
{
	border-radius: 15px;
} 
 .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
    box-shadow:5px 5px 6px 0px rgba(9, 9, 9, 0.57);
    border-radius: 15px;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;

}

.hovereffect img {
  display: block;
  width:100%;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.4s ease-in;
  background-color: white;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(0) blur(3px);
  -webkit-filter: grayscale(0) blur(3px);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 0px 0 0 0;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
  @media (min-width:799px) {
     .container
{
	padding-right: 120px;
	padding-left: 120px; 
}

    }

    </style>
    


    

  
</head>
<header>
    <!-- header-area start -->
    <div id="sticker" class="header-area" style="background-color:#0D0D0D">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  

                
                <!-- Brand -->
                <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                    
                  <!-- Uncomment below if you prefer to use an image logo -->
                  <img id="logo_img" src="img/final1.jpg" alt="The Project" style="height: 50px; width: 200px; padding-left: 15px;">
								</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="index.html">Home</a>
                  </li>
                  <li>
                    <a href="contacts.html">Team</a>
                  </li>
                  <li class="active">
                    <a href="sponsors.html">Sponsors</a>
                  </li>
                  <li>
                     <a href="registration.html">Registration</a>
                  </li>
                 
                </ul>
              </div>
              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>
  <!-- header end -->
  <br>
  
  <div id="team" class="our-team-area area-padding">
    <div class="container">
      <div class="row">
        
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Sponsors 2019</h2>
          </div>
        </div>
      </div>
        
        <h4>Event Partners</h4>
      <div class="row">
       <div class="col-sm-4 col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Maharani Rice"  src="img/mrice.jpg" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>MAHARANI RICE</h2>
                    <a href="http://www.maharanirice.in/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
           </div>
         
      </div>
        <br>
      <div class="row">    
          <div class="col-sm-4 col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="NATURISTA"  src="img/nat.jpg" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>NATURISTA</h2>
                    <a href="https://naturista.in/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
      </div>
        
        
      
        <br><br>
        <h4>Gift Partner</h4>
      <div class="row">  
        <div class="col-sm-4 col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Nicco park"  src="img/nicopark.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>NICCO PARK</h2>
                    <a href="https://niccoparks.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
             </div>
      </div>
           <br><br> 
           <h4>Blog Outreach Partner</h4>
      <div class="row"> 
        <div class="col-sm-4 col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Blog Adda"  src="img/adda.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>BLOG ADDA</h2>
                    <a href="https://www.blogadda.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
            </div>
      </div>
            
          <br><br> 
          <h4>Message Partner</h4>
      <div class="row"> 
        <div class="col-sm-4 col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Krish SMS"  src="img/krish.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>Krish SMS</h2>
                    <a href="http://www.krishsms.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
            </div>
      </div>
           
           
            <br><br>
            <h4>Quiz Partner</h4>
       <div class="row">
          <div class="col-sm-4 col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="My Swots"  src="img/swots.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>MY SWOTS</h2>
                    <a href="https://www.myswots.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
      
      </div>
            
            <br><br>
            <h4>Food Partner</h4>
       <div class="row">
          <div class="col-sm-4 col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Dominos"  src="img/domi.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>Domino's Pizza</h2>
                    <a href="https://www.dominos.co.in/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
      
      </div>
            
      
    </div>
  </div>
  
  
  
  
  <div id="team" class="our-team-area">
    <div class="container">
      <div class="row">
        
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Previous Year Sponsors</h2>
          </div>
        </div>
        
          <h3><b><u>Title Sponsors</u></b></h3>
            <div class="row">
              <div class="col-sm-4 col-md-4 col-xs-offset-1 col-xs-8" >
                <div class="hovereffect">
                  <img class="img-responsive" alt="Swaraj Tractor" src="img/swaraj.png" style="width:314px;height:200px;">
                  <div class="overlay">
                      <h2>Swaraj Tractor</h2>
                    <a class="info" href="http://www.swarajtractors.com/home" target="_blank">Know more</a>
                  </div>
                </div>
              </div>
            
         
            
              <div class="col-sm-4 col-md-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Nabard"  src="img/nabard.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>Nabard</h2>
                    <a href="https://www.nabard.org/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
            </div>
            <br>
            <h4><u>Event Sponsors</u></h4>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-xs-offset-1 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="KTM"  src="img/ktmm.jpg" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>KTM</h2>
                    <a href="https://www.ktm.com/en/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="State Bank of India"   src="img/sbi.jpg" style="width:320px;height:200px;" >
                  <div class="overlay">
                      <h2>State Bank of India</h2>
                    <a href="https://www.sbi.co.in/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-offset-1 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Bentley"  src="img/bentley.jpg" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>Bentley</h2>
                    <a href="https://www.bentley.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Hindustan Unilever"  src="img/Unilever.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>Hindustan Unilever</h2>
                    <a href="https://www.hul.co.in/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
              
              
              
              <div class="col-sm-4 col-md-4 col-xs-offset-1 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="JP Scientifc Equipments"  src="img/jp.jpg" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>JP Scientifc Equipments</h2>
                    <a href="http://www.jpscientificequip.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
                
                <div class="col-sm-4 col-md-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="PEPSI"  src="img/pep.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>Pepsi India</h2>
                    <a href="http://www.pepsicoindia.co.in/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
                
                <div class="col-sm-4 col-md-4 col-xs-offset-1 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Coca-Cola"  src="img/cola.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>Coca-Cola</h2>
                    <a href="https://www.coca-colaindia.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
                
                <div class="col-sm-4 col-md-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="ITC"  src="img/itc.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>ITC</h2>
                    <a href="https://www.itcportal.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
                
                <div class="col-sm-4 col-md-4 col-xs-offset-1 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="John Deer"  src="img/johndeer.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>John Deer</h2>
                    <a href="https://www.deere.co.in/en/index.html" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
                
                <div class="col-sm-4 col-md-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Nestle"  src="img/nestle.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>Nestle</h2>
                    <a href="https://www.nestle.in/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
                <div class="col-sm-4 col-md-4 col-xs-offset-1 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Tafe"  src="img/tafe.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>TAFE</h2>
                    <a href="https://www.tafe.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
                <div class="col-sm-4 col-md-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="SIEMENS"  src="img/siemens.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>SIEMENS</h2>
                    <a href="https://www.siemens.com/in/en/home.html" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
                
                <div class="col-sm-4 col-md-4 col-xs-offset-1 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Jindal"  src="img/jindal.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>JINDAL</h2>
                    <a href="http://jindalindia.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
                
                <div class="col-sm-4 col-md-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="TEA BOARD"  src="img/teaboard.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>TEA BOARD</h2>
                    <a href="http://www.teaboard.gov.in/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
                
           
             
            </div>
            <h4>Merchandise Partners</h4>
            <div class="row">
              <div class="col-sm-4 col-md-4 col-xs-offset-1 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="ACCE"  src="img/acce.jpg" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>ACCE</h2>
                    <a href="http://www.accehq.net/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
              
              <div class="col-sm-4 col-md-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="texel"  src="img/texel.jpg" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>Texel</h2>
                    <a href="http://www.texelgroup.com/main.php" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
            </div>
              
            
            
            <h4>Messaging Partners</h4>
            <div class="row">
              <div class="col-sm-4 col-md-4 col-xs-offset-1 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Mob Texting"  src="img/s12.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>Mob Texting</h2>
                    <a href="https://www.mobtexting.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
                
                <div class="col-sm-4 col-md-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Krish SMS"  src="img/krish.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>Krish SMS</h2>
                    <a href="http://www.krishsms.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
            </div>
            <h4>Hospitality Partner</h4>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="OYO"  src="img/oyo.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>OYO Rooms</h2>
                    <a href="https://www.oyorooms.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
            </div>
            <h4>Radio Partner</h4>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="91.9 Friends Fm"  src="img/s13.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>91.9 Friends Fm</h2>
                    <a href="https://www.facebook.com/919FriendsFM/" target="_blank" class="info">Know more</a>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <h4>Gift Partners</h4>
            <div class="row">
              <div class="col-sm-4 col-md-4 col-xs-offset-1 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Shopclues"   src="img/gift.jpg" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>Shopclues</h2>
                    <a href="http://www.shopclues.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
                
                <div class="col-sm-4 col-sm-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="NiccoPark"   src="img/nicopark.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>Nicco Park</h2>
                    <a href="https://niccoparks.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4 col-xs-offset-1 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Presto"   src="img/presto.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>Presto</h2>
                    <a href="http://www.prestogifts.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
                
                <div class="col-sm-4 col-sm-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Aditya Infotech"   src="img/aditya.png" style="width:320px;height:200px;">
                  <div class="overlay">
                      <h2>Aditya Infotech</h2>
                    <a href="http://www.adityagroup.com/" target="_blank" class="info">Know more</a>
                    
                  </div>
                </div>
              </div>
            </div>
            
            <h4>Hydration Partner</h4>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Bisleri"  src="img/bisleri2.jpg" >
                  <div class="overlay">
                      <h2>Bisleri</h2>
                    <a href="http://www.bisleri.com/" target="_blank" class="info">Know more</a>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            
              
            

            <h4>Online Media Partners</h4>
            <div class="row" style="    border-bottom: white 1px solid;">
              <div class="col-sm-4 col-md-4 col-xs-offset-1 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="FestPav.com"  src="img/s19.png">
                  <div class="overlay">
                      <h2>FestPav.com</h2>
                    <a href="http://www.festpav.com/" target="_blank" class="info">Know more</a>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Twenty19"  src="img/twenty.jpg" >
                  <div class="overlay">
                      <h2>Twenty19</h2>
                    <a href="http://www.twenty19.com/" target="_blank" class="info">Know more</a>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-offset-1 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Mera Events"  src="img/mera events.jpg">
                  <div class="overlay">
                      <h2>Mera Events</h2>
                    <a href="http://www.meraevents.com/" target="_blank" class="info">Know more</a>
                    </a>
                  </div>
                </div>
              </div>
          
              <div class="col-sm-4 col-md-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="The College Fever"  src="img/s23.png">
                  <div class="overlay">
                      <h2>The College Fever</h2>
                    <a href="https://www.thecollegefever.com/" target="_blank" class="info">Know more</a>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-offset-1 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Fadoo Engineers"  src="img/s24.png">
                  <div class="overlay">
                      <h2>Fadoo Engineers</h2>
                    <a href="http://www.faadooengineers.com/" target="_blank" class="info">Know more</a>
                    </a>
                  </div>
                </div>
              </div>
                <div class="col-sm-4 col-md-4 col-xs-offset-2 col-xs-8">
                <div class="hovereffect">
                  <img class="img-responsive" alt="Know A Fest"  src="img/knowfest.jpg">
                  <div class="overlay">
                      <h2>Know A Fest</h2>
                    <a href="http://www.knowafest.com/college-fests/events" target="_blank" class="info">Know more</a>
                    </a>
                  </div>
                </div>
              </div>
              
              
            </div>
          </div>
      </div>
    </div>
</html>
    
      
        
        