@charset "UTF-8";
/*PEN STYLES*/
* {
  box-sizing: border-box;
}



.blog-card-e {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card-e a {
  color: inherit;
}
.blog-card-e a:hover {
  color: #5ad67d;
}

.blog-card-e .meta {
  position: relative;
  z-index: 0;
  
  
}
.blog-card-e .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size:cover;
  background-position:center;
  transition: transform 0.2s;
}
.blog-card-e .details,
.blog-card-e .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card-e .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card-e .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.blog-card-e .details ul li {
  display: inline-block;
}
.blog-card-e .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card-e .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card-e .details .tags ul:before {
  font-family: FontAwesome;
  content: "";
  margin-right: 10px;
}
.blog-card-e .details .tags li {
  margin-right: 2px;
}
.blog-card-e .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card-e .description {
  padding: 1rem;
  
  position: relative;
  z-index: 1;
}
.blog-card-e .description h1,
.blog-card-e .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card-e .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card-e .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card-e .description .read-more {
  text-align: right;
}
.blog-card-e .description .read-more a {
  color: #5ad67d;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.blog-card-e .description .read-more a:after {
  content: "";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card-e .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card-e p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card-e p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card-e p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card-e {
    flex-direction: row;
    max-width: 900px;
  }
  .blog-card-e .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card-e .description {
    flex-basis: 60%;
  }
  .blog-card-e .description:before {
    transform: skewX(-3deg);
    content: "";
    
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card-e.alt {
    flex-direction: row-reverse;
  }
  .blog-card-e.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card-e.alt .details {
    padding-left: 25px;
  }
}

#foot, .button-os{
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 8px rgb(207, 207, 207);
}

#foot:hover{
  border: none;
  padding: 5px;
  border-radius: 15px;
  box-shadow: inset 0 0 8px #f9f8fc;
  } 
  .button-os:hover{
    border: none;
    padding: 5px;
    border-radius: 15px;
    box-shadow: inset 0 0 8px #f9f8fc;
    } 

 #foot{
  position: relative;
 
  top: 3px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: none;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 0 8px #d9d4e7;
  width: 150px;
  height: 30px;
  background-color: #79f08d;
  animation-duration: 5s;
}

.button-os{
   position: absolute;
   padding: 5px;
    width: 150px;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #f9f8fc;
    border: 2.5px solid #0e172c;
    transition: background-color 2.2s;
    transition-duration: 1.5s;
    
  }
  
  .button-os:hover{
    position: absolute;
    top: 10px;
    background-color: #f65307;
  }
  
  .button-os a{
    font-size: 20px;
    display: block;
    text-decoration: none;
    color:#0e172c;
    transition: 1.5s;
    letter-spacing: 5px;
  }
  
  .button-os a:hover{
    letter-spacing: 5px;
  }



  /* popup */
  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    top: 100px;
    left: 25vw;
  
    width:50vw;
    border: 3px snow #fc4205;
    z-index: 9;
    background-color: #fcf8f8;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }