.header1 {
    display: flex;
    background-color: #f6faf800;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 130px;
  }
  
  
  
  .nav-options {
    padding-left: 25px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 50px;
    list-style-type: none;
  }
  .mobile-option {
    display: none;
  }
  
  .option :hover {
    color: white;
  }
  .signin-up {
    display: flex;
    padding: 0px 5px;
    list-style-type: none;
  }
  .sign-in {
    padding-right: 50px;
    align-self: center;
  }
  .sign-in :hover {
    color: rgb(252, 92, 0);
  }
  .signup-btn {
    padding: 10px 10px;
    height: 2.4rem;
    border-radius: 3px;
    background: rgb(222, 9, 241);
    color: white;
    cursor: pointer;
    align-items: center;
  }
  .mobile-menu {
    display: none;
  }
  @media (max-width: 948px) {
    /*Mobile View */
    .header1 {
      padding: 0px 10px;
    }
    .logo {
      width: 45px;
      height: 45px;
    }
    .nav-options {
      display: flex;
      width: 100%;
      height: 350px;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
    
      flex-direction: column;
      list-style-type: none;
      grid-gap: 0px;
    }
    .nav-options.active {
      background: #f6faf8;
      left: 0;
      opacity: 1;
      
      z-index: 1;
      align-content: center;
      padding-left: 0px;
    }
  
    .menu-icon {
      width: 45px;
      height: 45px;
    }
    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10vw;
      padding: 30px 0px;
    }
    .sign-up {
      background: rgb(222, 9, 241);
      border-radius: 3px;
      color: white;
      padding: 20px 0px;
      width: 80%;
      align-self: center;
      border-radius: 3px;
    }
  
    .signin-up {
      display: none;
    }
    .mobile-menu {
        display: block;
      }
    
  }
 
  .option{
      color:'white';
  }

  .navreg{
    background-color: #EE6C08;
    color: rgb(255, 255, 255);
   
    border-radius: 25px;
  }
  .navreg:hover{
    background-color: rgb(255, 255, 255);
    color: #EE6C08;
    border-radius: 25px;
    font-size: 103%;
  }

  .navother{
    color: #EE6C08;
    border-radius: 25px;
    display: inline-flex;
    transition: all 0.3s ease;
  height: 25px;
  width: 100px;
  border: 1px solid #fff;
  border-radius: 15px;
  margin: 0 0 0 5%;
  color: #fd5800;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .75em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  }
  .navother:hover{
     border:'5px solid green';

    border-radius: 25px;
  
    box-shadow: 0 0 5px rgba(30, 130, 76, 1);
    height: 27px;
    width: 100px;
    text-decoration: none;
    color: rgba(30, 130, 76, 1);
    font-size: 93%;
  }

  .scroll1{
    background-color: #ffffff3d;
    height: 80px;
  } 

  