
    .marginless {
        margin-bottom: 2px;
      }
      
    
      
      .col-sm-4,
      .col-sm-offset-1,
      .col-sm-offset-2,
      .col-sm-offset-4 {
        padding: 0px 7.5px 15px 7.5px;
      }
      
      .col-md-4,
      .col-md-offset-4 {
        padding-bottom: 30px;
      }
      
      .col-xs-12 {
        padding-bottom: 15px;
      }
      
      h3 {
        text-align: center;
      }
      
      h4 {
        text-align: center;
        font-weight:bold;
        margin-top: 30px;
      }
  .img-responsive
  {
      border-radius: 15px;
  } 
   .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
      box-shadow:5px 5px 6px 0px rgba(9, 9, 9, 0.57);
      border-radius: 15px;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  
  }
  
  .hovereffect img {
    display: block;
    width:100%;
    position: relative;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.4s ease-in;
    background-color: white;
  }
  
  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    filter: grayscale(0) blur(3px);
    -webkit-filter: grayscale(0) blur(3px);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 0px 0 0 0;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }
  
  .hovereffect a.info, .hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
    text-transform: uppercase;
  }
  
  .hovereffect:hover a.info, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
    @media (min-width:799px) {
       .container
  {
      padding-right: 120px;
      padding-left: 120px; 
  }
  
      }
  